{% extends 'participant_templates/base_template.html' %}
{% block page_title %}

{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <p style="font-size:25px"  >   Payment invoice</p>

      <div class="card-body">
        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row"><div class="col-sm-12"><table id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
          <thead>
            <tr role="row"><th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" aria-sort="descending">Order</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Paper List</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Date</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Price</th>  
                  </thead>
          <tbody>
          
          
          <tr role="row" class="odd">
            <td class="sorting_1" tabindex="0">ID001</td>
            <td>CIIS 2021</td>
            <td>2011/04/25</td>
            <td>2000</td>
            
            


            <tr role="row" class="odd">
              <td class="sorting_1" tabindex="0">ID002</td>
              <td>CIIS 2020</td>
              <td>2012/11/03</td>
              <td>2000</td>
              
              
              
              
              
              
              <tr role="row" class="odd">
                <td class="sorting_1" tabindex="0">ID003</td>
                <td>CIIS 2019</td>
                <td>2012/11/15</td>
                <td>2000</td>
                
               
              

                <tr role="row" class="odd">
                  <td class="sorting_1" tabindex="0">ID004</td>
                  <td>CIIS 2020</td>
                  <td>2012/01/11</td>
                  <td>2000</td>
                  
                  








          </tbody>
          
          
      </div>
    
    </section>

    
    <!-- /.content -->
{% endblock main_content %}

